@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  color: #fff;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c9ab81;
  border-radius: .5rem;

}

::selection {
  background-color: #C49871;
}

body {
  background-color: #0b1315;
}

/* hero section */
.navbar {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 20px;
  letter-spacing: 2px;
  cursor: pointer;
}

.nav-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #c9ab81;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #0b1315;
}

.navbar a {

  color: white;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
}

#logo {
  color: #bba27e;
  text-transform: capitalize;
  letter-spacing: 5px;
  padding: 12px 0;
  font-family: "Great Vibes", cursive;
  font-size: 33px;
  font-size: 1.4rem;
  font-weight: 400;
  display: none;
}

.ham-icon {
  display: none;
  background-color: transparent;
  border: none;
}

.ham-icon .fa-bars,
.ham-icon .fa-x {
  color: #bba27e;
  font-size: 1rem;

}

.ham-icon input[type="checkbox"] {
  appearance: none;
}

.navbar>a::before,
.footer-link a::before {
  content: "";
  position: absolute;
  background-color: #c9ab81;
  height: 1px;
  width: 0%;
  bottom: -2px;
  transition: 0.3s cubic-bezier(0, 0.82, 0.97, 0.79);

}

.navbar>a:hover::before,
.footer-link a:hover:before {
  width: 100%;
}

.navbar>a::after,
.footer-link a::after {
  content: "";
  position: absolute;
  background-color: #c9ab81;
  height: 1px;
  width: 0%;
  bottom: -6px;
  left: 1px;
  transition: 0.3s linear;
  transition-delay: 0.2s;
}

.navbar>a:hover::after,
.footer-link a:hover::after {
  width: 100%;
}

.hero {
  width: 100%;
  height: 85vh;
  background-image: url('res image/landing-img-1.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  cursor: pointer;

}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hero #hero h2 {
  color: rgb(201, 171, 129);
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 140px;
  text-align: center;
  animation: topslide 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-font-smoothing: antialiased;

}

@keyframes topslide {
  0% {
    transform: translatex(100%);
  }

  100% {
    transform: translatex(0%);
  }
}

.hero #hero p {
  width: 55%;
  text-align: center;
  line-height: 32px;
  color: rgb(255, 255, 255);
  font-size: 21px;
  animation: bottomslide 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-font-smoothing: antialiased;
}

@keyframes bottomslide {
  0% {
    transform: translatex(-100%);
  }

  100% {
    transform: translatex(0%);
  }
}

/* bar home section */
.slider {
  display: flex;
  width: 80vw;
  height: 65vh;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem auto;

}


.slide {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#bhome {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 10px;
}

.bar-home {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: #0b1315;
  border: 2px solid #c9ab81;
  cursor: pointer;
}

.bar-home::-webkit-scrollbar {
  display: none;
}

.left-column,
.right-column {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.bar-home img {
  width: 100%;
  height: auto;
  display: block;
}

.left-column .scroll-up,
.right-column .scroll-down {
  position: absolute;
  top: 0;
}

.left-column .scroll-up {
  animation: scrollUp 10s linear infinite;

}

.right-column .scroll-down {
  animation: scrollDown 10s linear infinite;

}

@keyframes scrollUp {
  0% {
    top: 0%;
  }

  100% {
    top: -100%;
  }
}

@keyframes scrollDown {
  0% {
    top: -100%;
  }

  100% {
    top: 0%;
  }
}

.cuisine {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.cuisine-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.cuisine #art {
  padding-top: 3rem;
  font-weight: 300;
  color: #fff;
  font-size: 28px;
  line-height: 1.39286em;
  letter-spacing: .12em;
  text-align: center;
  word-wrap: break-word;
  text-transform: uppercase;
}

.cuisine #art2 {
  color: #C49871;
  font-family: Mrs Saint Delafield;
  font-size: 55px;
  line-height: 39px;
  text-align: center;

}

.video {
  padding-top: 2rem;
  display: block;
  text-align: center;
  width: 100%;
  position: relative;
  cursor: pointer;
  aspect-ratio: 16/9;
}

.video-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

#video-text {
  display: inline;
  width: 53%;
  vertical-align: middle;
  text-align: center;
  font-family: Jost, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  font-size: 36px;
  line-height: 1.13889em;
  letter-spacing: .15em;
}

#brand-l {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 190;
  color: #fcfbfac9;
  letter-spacing: 6px;
  padding: 20px 1rem;
}

#brand-l::before,
#brand-l::after {
  width: 0%;
  content: "";
  margin: 13px;
  padding: 0.5px;
  background-color: #977859;
  transition: all 2s ease-in-out;
}

.video-content:hover #brand-l::before,
.video-content:hover #brand-l::after {
  width: 30%;
}

/* swap heading */
.swap-heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 30px;

}

h2#one {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;

}

.swap-heading h2#two {
  font-size: 2.5rem;
  font-family: "Mrs Saint Delafield", cursive;
  color: #C49871;
  letter-spacing: 2px;
}

/* swap section */
.swap {
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
  padding: 20px 10px;
  gap: 25px;

}

.swap-content {
  text-align: center;
  width: 20%;
  height: 630px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  transition: order 2s ease-in-out;

}

.swap-content .swap-text p {
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;

}

.swap-text h2 {
  text-transform: uppercase;
  color: #c9ab81;
  font-size: 1rem;
  padding-bottom: 15px;
}

.swap-content img {
  height: auto;
  width: 100%;

}

.swap-image,
.swap-text {
  transform: translateY(0);
  transition: 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);

}

.swap-content:hover .swap-image {
  transform: translateY(55%);
}

.swap-content:hover .swap-text {
  transform: translateY(-400%);

}

.swap-content:hover {
  background-color: #1c282c;
  border: 1px solid #373432;
}

.swap-content:hover .swap-text h2 {
  color: rgb(255, 253, 234);
}

.swap-content:hover .swap-text p {
  color: #f9d07d;
}


.footer {
  display: inline-block;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  padding: 20px;


}

.footer-content {
  padding: 2rem;
  margin-top: 2rem;
  font-size: 21px;
  line-height: 42px;
  font-weight: 300;
  color: #fff;
  transition: color 0.2s ease-out;

}

.footer-content a:hover {
  color: #C49871;
}

#brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 190;
  color: #fcfbfac9;
  letter-spacing: 6px;
  padding: 20px 1rem;

}

#brand::before,
#brand::after {
  width: 0%;
  content: "";
  margin: 13px;
  padding: 0.5px;
  background-color: #977859;
  transition: all 2s ease-in-out;
}

.footer:hover #brand::before,
.footer:hover #brand::after {
  width: 33%;
}

.footer-link a {
  font-size: 23px;
  margin: 0 17px;
  position: relative;
}

@media screen and (max-width: 1050px) {
  .swap-content:hover .swap-text {
    transform: translateY(-154%);
  }

  .swap-content {
    height: 455px;
  }

  .swap-content:hover .swap-image {
    transform: translateY(100%);
  }

  /* .hero {
    height: 35vh;
  }

  .slider {
    height: 25vh;
  }

  .cuisine-content {
    width: 61%;
  } */
}

@media screen and (max-width: 790px) {
  .hero {
    background-position: center;
    background-size: cover;
  }

  .hero #hero h2 {
    font-size: 90px;
  }

  .navbar a {
    font-size: 14px;
  }

  .slider {
    width: 95vw;
  }

  #bhome {
    font-size: 18px;
  }

  .cuisine #art {
    font-size: 21px;
  }

  .cuisine #art2 {
    font-size: 46px;
  }

  .hero #hero p,
  #video-text,
  .cuisine-content {
    width: 100%;
  }

  #video-text,
  h2#one {
    font-size: 29px;
  }

  .div#brand-l {
    font-size: 30px;
  }

  .swap-heading h2#two {
    font-size: 34px;
  }
}

@media screen and (max-width:700px) {


  .swap {
    width: 75%;
    margin: 0 auto;

  }

  .swap-content {
    flex: 1 1 35%;
    height: 455px;
  }

  .swap-content:hover .swap-image {
    transform: translateY(80%);
  }

  .swap-content:hover .swap-text {
    transform: translateY(-235%);
  }

}

@media screen and (max-width: 650px) {
  .navbar a {
    display: block;
    padding: 5px 0;
    font-size: 1rem;
  }

  .nav-content {
    justify-content: space-around;
  }

  .navbar {
    order: 2;
    display: block;
    height: 0;
    padding: 21px 100px 20px 120px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    left: -100%;
    top: 53px;
    transition: 0.5s ease-in-out;
  }

  .ham-icon {
    display: block;
  }

  #logo {
    display: inline-block;

  }

  .fa-x {
    display: none;
  }

  .nav-content:has(input[type="checkbox"]:checked) .navbar {

    height: 204px;
    text-align: center;
    overflow: visible;
    left: 0;
    background-color: #1e2b2be8;
  }

  .nav-content:has(input[type="checkbox"]:checked) .fa-bars {
    display: none;
  }

  .nav-content:has(input[type="checkbox"]:checked) .fa-x {
    display: inline-block;
  }
}

@media screen and (max-width:500px) {

  .hero #hero h2 {
    font-size: 65px;
  }

  .hero #hero p {
    font-size: 17px;
  }

  .hero {
    height: 65vh;
  }

  .slider {
    height: 51vh;
  }

  h2#one {
    font-size: 25px;
  }

  .video-content {
    top: 31px;
  }

  #video-text {
    font-size: 19px;
  }

  .div#brand-l {
    font-size: 20px;
  }

  .swap {
    width: 100%;
  }

  .swap-content:hover .swap-image {
    transform: translateY(92%);
  }

  .slide {
    flex: 1 1 61%;
    height: 341px;

  }

  #bhome {
    font-size: 23px;

  }

  #brand-l {
    font-size: 29px;
  }

  .slider {
    width: 95%;
    height: 636px;
    margin-top: 0;
  }

  .footer-link a {
    font-size: 21px;
  }
}

@media screen and (max-width:450px) {
  .swap-content {

    height: 383px;
  }

  .swap-content:hover .swap-image {
    transform: translateY(115%);
  }

  .swap-content:hover .swap-text {
    transform: translateY(-106%);
  }
}

@media screen and (max-width:370px) {
  .hero #hero h2 {
    font-size: 50px;
  }

  .hero #hero p {
    width: 85%;
    font-size: 16px;
  }

  .hero {
    height: 55vh;
  }

  .cuisine {
    padding: 0;
  }

  .cuisine #art {
    font-size: 14px;
  }

  .cuisine #art2 {
    font-size: 40px;
  }

  .video-content {
    top: 31px;
  }

  #video-text {
    font-size: 17px;
  }

  h2#one {
    font-size: 20px;
  }

  .swap-heading h2#two {
    font-size: 30px;
  }

  .swap {
    width: 72%;
  }

  .swap-content {
    flex: 1 1 47%;
  }

  .swap-content:hover .swap-image {
    transform: translateY(79%);
  }

  .swap-content:hover .swap-text {
    transform: translateY(-200%);
  }

  #brand {
    font-size: 29px;
  }

  .footer {
    padding: 0;
  }

  .footer-content {
    padding: 2rem 0;
    margin-top: 0;
    line-height: 36px;
    font-size: 18px;
  }

  .footer-link a {
    font-size: 17px;
    margin: 0 13px;
  }

  #brand-l {
    font-size: 23px;
  }
}